// texto-teorico.component.scss

.introducao {
  h1 {
    font-size: 2em;
    color: #e47003;
    padding-left: 20px;
  }
}

.conteudo-texto {
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.6;

  h2 {
    color: #302170;
  }

  p {
    margin-bottom: 1em;
  }
}